
<div class="container">

    <div>    
        <h1>This is the house of JSON </h1>

        <h2>feel free to make a selection below</h2>
        <div>
            <ul>
                <li>
                    <a routerLink="/Account">Click here to go to accounts page</a>
                </li>
                <li>
                    <a routerLink="/Articles">Click here to go to Articles page</a>
                </li>
            </ul>
            
        </div>

        <router-outlet></router-outlet>

    </div>
    
</div>