
<div class="buttonHoder">

    <button (click)="articlesService.get()">Get All Posts</button>
    <button (click)="createArticle(articleUsername.value, title.value, description.value, body.value)">Create Post</button>

    <input type="text" placeholder="username" #articleUsername>
    <input type="text" placeholder="title" #title>
    <input type="text" placeholder="description" #description> 
    <input type="text" placeholder="body" #body> 
    
</div>
    
    
    <div *ngIf="articlesService.loading">Loading.....</div>
    
    
    <ul *ngIf="articlesService.loaded">
        <app-article-details *ngFor="let article of articlesService.articles" [article]="article" ></app-article-details>
    </ul>
